@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

/* 
Paleta de cores monocromáticas
#c5ebd6 - tom mais claro
#83e1ad
#3ddc84
#2fa866
#1a5c37
#063d1e - tom mais escuro
*/

/* 
Pseudo classe :root que todos os documentos têm. É a "raíz da árvore" do nosso documento. 
Tudo o que declararmos dentro da pseudo classe :root servirá para o documento inteiro. 

Iremos declarar as variáveis globais dentro do :root
Todas as variáveis em CSS começam com -- (dois traços) seguidos do nome atribuído à variável (os nomes não podem conter espaços).
*/
:root {
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: "Bebas Neue", sans-serif;
    --fonte-android: 'Android', cursive;

}

/*
Regras globais para todos os elementos
*/
* {
    margin: 0px;
    padding: 0px;
}

/*
Clicar control + Barra de espaço, no final da lista de cores teremos as variáveis das cores criadas acima no :root.
Automaticamento criará a função var() ao escolhermos uma cor.
 */
body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}

a.externo::after {
    content: '\00A0\1F517';
}

header {
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}

header > h1 {
    color: white;
    font-family: var(--fonte-destaque);
    font-size: 3em;
    font-weight: normal;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.358);
}

header > p {
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    color: white;
    max-width: 600px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    padding-bottom: 50px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.358);
    
}

nav {
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.200);
}

nav > a {
    color: var(--cor1);
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
}

nav > a:hover {
    border-radius: 5px;
    background-color: var(--cor3);
    color: var(--cor5);
    transition-duration: 0.5s;
}

main {
    min-width: 300px;
    max-width: 1200px;
    /* conteúdo responsivo */
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.428);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main h1 {
    color: var(--cor5);
    font-family: var(--fonte-android);
    font-weight: normal;
    font-size: 1.8em;
}

main h2 {
    color: var(--cor4);
    font-family: var(--fonte-android);
    font-size: 1.3em;
    font-weight: normal;
    background-image: linear-gradient(to right, var(--cor1), transparent);
    text-indent: 5px;
}

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 2em;
}

main strong {
    color: var(--cor4);
    font-weight: bold;
    
}

main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    background-color: var(--cor1);
    padding: 3px 5px;
}

main a:hover {
    text-decoration: underline;
    color: var(--cor4);
}

main img {
    width: 100%;
    /* imagens responsivas */
}

main img.pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}

div.video {
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 58%;

    position: relative;
    
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;

}

aside {
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.250);
}

aside > ul {
    list-style-type: '\2714\00A0';
    list-style-position: inside;
    columns: 2;
}

/*
adicionámos margem negativa porque queremos adicionar margem para fora, juntando os dois elementos
*/
aside > h3 {
    background-color: var(--cor4);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

footer {
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}

footer a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

footer a:hover {
    text-align: underline;
    color: var(--cor1)
}

